:root{
    --color1: #69F2AB;
    --color2: #E5B3C5;
    --color3: #F8DDDD;
    --color4: #443545;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: relative;
    overflow: hidden;
}

.fondo{
    width: 100%;
    height: auto;
}

.fondo img{
    object-fit: cover;
}

.img{
    position: absolute;
    bottom: 0px;
    right: 180px;
    z-index: 30;
}

.img img{
    width: 185%;
    height: auto;
}

.txt{
    width: 45%;
    position: absolute;
    bottom: 150px;
    left: 25px;
}